<mat-toolbar color="primary"
             class="mat-elevation-z3">
  <mat-toolbar-row>
    <span>WeatherApp</span>
    <span class="date">{{date | date}}</span>
    <span class="example-spacer"></span>

    <div class="auth-container"
         *ngIf="auth.afAuth.user | async ">
      <a mat-stroked-button
         routerLink="{{ routingLink }}"
         (click)="routingToggle()">{{ routingTitle }}</a>
      <img class="user-photo"
           *ngIf="auth.afAuth.auth.currentUser"
           src="{{ auth.afAuth.auth.currentUser.photoURL }}">
    </div>
    <button (click)="logout()"
            *ngIf="auth.afAuth.user | async as user; else showLogin"
            mat-icon-button>
      <mat-icon svgIcon="logout"></mat-icon>
    </button>
    <ng-template #showLogin>
      <button (click)="login()"
              mat-icon-button>
        <mat-icon svgIcon="login"></mat-icon>

      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
