.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.search {
  margin: 0 auto;
}
app-main {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.user-photo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.auth-container {
  display: flex;
}
