mat-form-field {
  width: 100%;
}
form {
  width: 20%;
}
.search-btn {
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.search-container {
  display: flex;
  justify-content: center;
}
.weather-wrapper {
  display: flex;

}
.weather-container-main {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.weather-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.current-weather {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.current-forecast {
  width: 75%;
}
mat-spinner {
    position: absolute;
    top: 40%;
    z-index: 10;
    left: 50%;
}
table {
  width: 100%;
}
tr {
  height: 56px;
}
.temp-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 70px;
  height: 70px;
}
.fav-container {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.fav-icon {
  color: gold;
  font-size: 30px;
  margin-left: -5px;
  margin-top: -5px;
}
.wi {
  font-size: 30px;
}
.divider {
  position: relative !important;
}
.weather-value {
  margin-left: 10px;
  font-size: 25px;
}
.units {
  font-size: 15px;
}
.value-container {
  display: flex;
  padding: 15px 0;
}
h1 {
  margin: 15px 0;
  font-size: 40px;
  font-weight: 400;
}