<div class="search-container">
  <form class="example-form">
    <mat-form-field class="example-form-field">
      <input matInput
             type="text"
             aria-label="Number"
             class="search"
             [formControl]="myControl"
             [matAutocomplete]="auto"
             (keypress)="onEnter($event)"
             placeholder="Name of city">
      <mat-autocomplete autoActiveFirstOption
                        #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async"
                    [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
      <button mat-button
              *ngIf="myControl.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="this.myControl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <button mat-raised-button
          class="search-btn"
          [disabled]="!myControl.value || isCorrectCity"
          (click)="getCityWeather(this.myControl.value);this.getCityForecast(this.myControl.value)"
          color="primary">Search</button>
</div>
<mat-spinner *ngIf="showSpinner"></mat-spinner>


<div class="weather-container"
     *ngIf="cityCurrentWeather && cityForecast">
  <mat-card class="current-weather mat-elevation-z5">
    <div class="fav-container">
      <button mat-icon-button
              *ngIf="auth.afAuth.user | async "
              [matTooltip]="toggleMatTooltipText()"
              (click)="toggleFavorites()"
              color="primery">
        <mat-icon class="fav-icon">{{ starType }}</mat-icon>
      </button>
    </div>
    <h1>{{ cityCurrentWeather.name }}</h1>
    <div class="temp-icon">
      <img class="icon"
           src="http://openweathermap.org/img/w/{{ cityCurrentWeather.weather[0].icon }}.png"
           alt="WeatherIcon">
      <h2 class="temp">{{ round(cityCurrentWeather.main.temp) }}°C</h2>
    </div>
    <div>
      <mat-icon>vertical_align_bottom</mat-icon>
      <span>{{ round(cityCurrentWeather.main.pressure / 1.3333) }}</span>
    </div>
    <div>
      <mat-icon>invert_colors</mat-icon>
      <span>{{ cityCurrentWeather.main.humidity }}</span>
    </div>
    <div>
      <mat-icon>near_me</mat-icon>
      <span>{{ cityCurrentWeather.wind.speed }}</span>
      <span>{{ cityCurrentWeather.wind.deg }}</span>
    </div>
    <div>
      <mat-icon>wb_sunny</mat-icon>
      <span>{{ cityCurrentWeather.sys.sunrise*1000 | date: 'H:mm' }}</span>
    </div>
    <div>
      <mat-icon>brightness_3</mat-icon>
      <span>{{ cityCurrentWeather.sys.sunset*1000| date: 'H:mm' }}</span>
    </div>
    <div>
      <mat-icon>access_time</mat-icon>
      <span>{{ cityCurrentWeather.dt*1000 | date: 'H:mm' }}</span>
    </div>
    <span>{{ cityCurrentWeather.weather[0].main }}</span>
    <span>{{ cityCurrentWeather.weather[0].description | titlecase }}</span>


  </mat-card>
  <mat-card class="current-forecast mat-elevation-z5">
    <mat-tab-group>
      <mat-tab *ngFor="let item of sortedCityForecast; let i = index"
               label="{{item[0].dt*1000 | date: 'EEE, dd LLLL'}}">
        <table>
          <tr>
            <td></td>
            <td *ngFor="let item of sortedCityForecast[i]">{{ item.dt*1000 | date: 'H:mm' }}</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td></td>
            <td *ngFor="let item of sortedCityForecast[i]"><img src="http://openweathermap.org/img/w/{{ item.weather[0].icon }}.png"
                   alt="WeatherIcon"></td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td>Temperature, °C</td>
            <td *ngFor="let item of sortedCityForecast[i]">
              <h3>{{ round(item.main.temp) }}°</h3>
            </td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td>Pressure, mm</td>
            <td *ngFor="let item of sortedCityForecast[i]">{{ round(item.main.pressure / 1.3333) }}</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td>Humidity, %</td>
            <td *ngFor="let item of sortedCityForecast[i]">{{ item.main.humidity }}</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td>Wind, m/sec</td>
            <td *ngFor="let item of sortedCityForecast[i]">{{ round(item.wind.speed) }}</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td>Direction</td>
            <td *ngFor="let item of sortedCityForecast[i]">{{ round(item.wind.deg) }}</td>
          </tr>
        </table>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>
