mat-form-field {
  width: 100%;
}
form {
  width: 20%;
}
.search-btn {
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.search-container {
  display: flex;
  justify-content: center;
}
.weather-container {
  display: flex;
}
.current-weather {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.current-forecast {
  width: 70%;
}
mat-spinner {
    position: absolute;
    top: 40%;
    z-index: 10;
    left: 50%;
}
table {
  width: 100%;
}
tr {
  height: 56px;
}
.temp-icon {
  display: flex;
}
.icon {
  width: 70px;
  height: 70px;
}
.temp {
  margin-left: 20px;
}
.fav-container {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.fav-icon {
  color: gold;
  font-size: 30px;
  margin-left: -5px;
  margin-top: -5px;
}